body {
    background-color: #BA004C;
    font-family: Courier;
}

h1 {
    color: #FFF7D8;
}

p {
    color: #FFF7D8;
    font-size: 24px;
    font-weight: bold;
}

img { 
	position: absolute;
  left: 0px;
  top: 0px;
}

#sandShape { 
	-webkit-mask-image: url(images/hourglass_filled.svg);
	-webkit-mask-size: 100% 100%;
}

#spaceUpper { 
	top: 80px;
}

#spaceLower { 
	top: 254px;
}

.hourglass_container {
	width:484px;
	height:484px;
  position: relative;
  margin: auto;
  text-align: center;
  transform: rotate(180deg);
  transition: transform 3s;
}

.button_container {
	width:500px;
	height:100px;
  position: relative;
  margin: auto;
  text-align:center;
}

.button {
  background-color: #FFF7D8;
  border-radius: 12px;
  border: none;
 	font-family: Courier;
  color: #BA004C;
  padding: 15px 32px;
 	text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
}

.button:active {
  transform: translateY(4px);
}

.button:focus {
  outline: none;
}

.notepad_container {
  height: 500px;
  width: 200px;
  position: absolute;
  left: 100px;
  top: 150px;
}
