
* {
  --base: #AD1457;
  --second: #FFF7D8;
  font-family: Courier;
  box-sizing: border-box
}

body {
    background-color: var(--base);
}

h1 {
    color: var(--second);
    min-height: 75px;
}

p {
    color: var(--second);
    font-size: 24px;
    font-weight: bold;
}

img { 
	position: absolute;
  left: 0px;
  top: 0px;
}

form {
    color: var(--second);
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    left: 20px;
    top: 600px;
    width: 300px;
    height: 60px;
}

input[type=number] {
    background-color: var(--second);
    color: var(--base);
    font-size: 24px;
    font-weight: bold;
    border: none;
}


#sandShape { 
	-webkit-mask-image: url(images/hourglass_filled.svg);
	-webkit-mask-size: 100% 100%;
}

#spaceUpper { 
	top: 80px;
}

#spaceLower { 
	top: 254px;
}

.hourglass_container {
	width:484px;
	height:484px;
  position: relative;
  margin: auto;
  text-align: center;
  transform: rotate(180deg);
  transition: transform 3s;
}

.timer_container {
	width:500px;
	height:100px;
  position: relative;
  margin: auto;
  text-align:center;
  margin-top: -50px;
}

.button {
  background-color: var(--second);
  border-radius: 12px;
  border: none;
  color: var(--base);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
}

.button:active {
  transform: translateY(4px);
}

.button:focus {
  outline: none;
}

button:disabled {
  background-color: var(--base);
}

#reset_button {
  align-self: right;
}

.notepad_container {
  height: 500px;
  width: 200px;
  position: absolute;
  left: 100px;
  top: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.update_container {
  height: 500px;
  width: 200px;
  position: absolute;
  right: 100px;
  top: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: right;
  align-items: flex-end;
}




